body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .App {
    h1 {
      margin-left: 10px;
    }

    .content {

      .equal {
        display: flex;
        justify-content: center;
      }
    }
  }
}

